{% extends "template.html" %}
{% block content %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                </tr>
            </thead>
            <tbody>
                {%for game in games%}
                <tr>
                    <td>{{game.nome}}</td>
                    <td>{{game.categoria}}</td>
                    <td>{{game.console}}</td>
                </tr>
                {%endfor%}
                
            </tbody>
        </table>
        {% if session['usuario_logado'] %}
        <a class="btn btn-primary btn-sm ml-2" href="{{ url_for('new_game') }}">Adicionar novo jogo</a>
    {% endif %}
{% endblock %}
